<% provide(:title, 'About Us') %>
<div class="row border-top">
  
  <div class="col-sm-12 col-md-2">
    <ul class="nav nav-pills nav-stacked">
      <li class="active"><a href="/about">About Us</a></li>
      <li><a href="/contact">Contact Us</a></li>
      <li><a href="/free_swatches">Free Swatches</a></li>
      <li><a href="/how_to_order">How to Order</a></li>
      <li><a href="/terms_and_conditions">Terms and Conditions</a></li>
      <li><a href="/technical_specs">Technical Specs</a></li>
      <li><a href="/cleaning_instructions">Cleaning Instructions</a></li>
      <li><a href="/frequently_asked_questions">Frequent Questions</a></li>
      <li><a href="/privacy_policy">Privacy Policy</a></li>
      <li><a href="/how_to_measure">How to Measure</a></li>
      <li><a href="/place_an_order">Place an Order</a></li>
      <li><a href="/request_quote">Request a Quote</a></li>
      <li><a href="/request_catalog">Request a Catalog</a></li>
  	</ul>
  	<div>
      <%= image_tag("swatch-image.png") %>
      <%= image_tag("free-catalog.png") %>
    </div>
  </div>

  <div class="col-sm-12 col-md-6 border-left addgray">
  <h1 class="addmaroon"><span class="cat-title">About Us</span></h1>
  <p class="stylename">A Tradition of Excellence</p>
  
	<p>At Americo we stand behind our products. We are proud of our reputation for producing top quality vinyl fabrics at competitive prices. It's a reputation that we've been earning for half a century by serving one satisfied customer at a time.</p>
	<p>As a family owned and operated company, we offer some of the most customer friendly policies in the industry. We are happy to say:</p>
	<ul>
		  <li>"Yes, we provide custom cuts."</li>
	    <li>"Yes, we have low minimums."</li>
	    <li>"Yes, we can send you all the free swatches you need."</li>
	    <li>"Yes, we have your pattern in stock and ready to ship."</li>
	</ul>
  
  <p class="stylename">Quality from Start to Finish</p>
	
	<p>Since we own our 78,000-square-foot facility in West Memphis, Arkansas, we control the entire production process, from making our special ink concentrates and adhesives to applying finishes that make our vinyls hold up so well. We buy only the best raw materials from prime domestic suppliers. And every new product is performance tested at an independent lab. So you can be confident that what we advertise, we deliver.</p>

	<p>What makes Americo so successful; however, is our workforce. Most of our employees have been with us for many years. They are among the best trained, most conscientious workers anywhere. You can trust them to stand behind their work and keep their promises.</p>

	<p>Thank you for considering Americo Inc. for your project.</p>
  </div>    


  <div class="col-sm-12 col-md-4 well">
  	<%= image_tag("about-americo.jpg", :class => "img-responsive") %>
    <div class="pledge addmaroon bold top10">OUR PLEDGE: Your Total Satisfaction</div>
    <div class="pledgetext addgray">
      <p>We are committed to providing you the best possible customer experience,whether you simply need a fast quote ... a dozen swatches ...  or 100 table covers. Give us a call and you’re guaranteed that we’ll give your request prompt attention.</p>
      <p>When you place your order, you can count on us to hold ourselves to the,most rigorous quality standards. All table covers, roll goods and custom laminations are carefully inspected before leaving our plant to assure they meet your specifications.</p>
    </div>
  </div>

</div>   