<% provide(:title, 'About Us') %>
<div class="row border-top">
  <div class="col-sm-12 col-md-2">
  	<ul>
  		<li>About Us</li>
  		<li>About Us</li>
  		<li>About Us</li>
  		<li>About Us</li>
  		<li>About Us</li>
  		<li>About Us</li>
  	</ul>
  	<div>
      <%= image_tag("swatch-image.png") %>
      <%= image_tag("free-catalog.png") %>
    </div>
    <div>
    
    </div>
  </div>

  <div class="col-sm-12 col-md-7 border-left">
	<h1>About Us</h1>

	<h3>A Tradition of Excellence</h3>
	<p>At Americo we stand behind our products. We are proud of our reputation for producing top quality vinyl fabrics at competitive prices. It's a reputation that we've been earning for half a century by serving one satisfied customer at a time.</p>
	<p>As a family owned and operated company, we offer some of the most customer friendly policies in the industry. We are happy to say:</p>
	<ul>
		<li>"Yes, we provide custom cuts."</li>
	    <li>"Yes, we have low minimums."</li>
	    <li>"Yes, we can send you all the free swatches you need."</li>
	    <li>"Yes, we have your pattern in stock and ready to ship."</li>
	</ul>

	<h3>Quality from Start to Finish</h3>

	<p>Since we own our 78,000-square-foot facility in West Memphis, Arkansas, we control the entire production process, from making our special ink concentrates and adhesives to applying finishes that make our vinyls hold up so well. We buy only the best raw materials from prime domestic suppliers. And every new product is performance tested at an independent lab. So you can be confident that what we advertise, we deliver.</p>

	<p>What makes Americo so successful; however, is our workforce. Most of our employees have been with us for many years. They are among the best trained, most conscientious workers anywhere. You can trust them to stand behind their work and keep their promises.</p>

	<p>Thank you for considering Americo Inc. for your project.</p>
  </div>    


  <div class="col-sm-12 col-md-3 well">
  	<%= image_tag("swatch-image.png") %>
    <div class="pledge">OUR PLEDGE: Your Total Satisfaction</div>
    <div class="pledgetetxt">
      <p>We are committed to providing you the best possible customer experience,whether you simply need a fast quote ... a dozen swatches ...  or 100 table covers. Give us a call and you’re guaranteed that we’ll give your request prompt attention.</p>
      <p>When you place your order, you can count on us to hold ourselves to the,most rigorous quality standards. All table covers, roll goods and custom laminations are carefully inspected before leaving our plant to assure they meet your specifications.</p>
    </div>
  </div>

</div>   