<% provide(:title, 'Americlear Laminations Fabric Sample | Americo Inc.') %>
<% provide(:description, 'Americo uses a heat-set process to laminate a clear film onto your fabric to protect it from wear and tear.  Pre-laminated fabric is also available for table covers and upholstery.') %>
<div class="row border-top addgray">
  <div class="col-xs-12 col-sm-8">
  	<h1 class="addmaroon"><span class="cat-title">Request A Free Americlear Sample Lamination</span></h1>
    <p class="stylesub addblack">See How Your Fabric Responds When Laminated</p>
    <p class="">To ensure you will be 100% satisfied with your Americlear finish, we encourage you to send us a fabric sample for lamination. Although lamination works beautifully on many fabrics, certain weaves, textures and patterns can produce unexpected results. Patterns that run perpendicular to the selvedge, for example, may be distorted by lamination because of the fabric's bias.</p>
    <p class="stylename bold addmaroon">Here's What We Need To Produce Your Free Lamination Sample </p>
    <ul>
      <li>A swatch of 1-yard x full, uncut width of fabric (Width may be 45” to 58”.) <br>(REQUIRED: 1 yard minimum width and length.)</li>
      <li>Specify matte or glossy finish</li>
      <li>Specify front or back application</li>
      <li>Allow 2-3 weeks for production</li>
    </ul>
    
    <p>Take note: Due to variations in pigments used to dye fabrics, colors may be changed slightly by the lamination process. <span class="addblack">Please read our full disclaimer below.</span></p>
    
    <p class="stylename bold addgreen">How To Order Americlear Lamination for Your Fabric</p>
    <div class="bold addgreen">STEP 1</div>
    <p>Determine the amount of material you want laminated and <a href="/request_quote">request a free quote</a> online or by calling 1-800-626-2350.</p>
    <div class="bold addgreen">STEP 2</div>
    <p>Fax or e-mail us your purchase order instead of including it in the shipment. Be sure to indicate “glossy” or “matte” finish and mark which face you want laminated, front or back. <a href="/terms_and_conditions">(See payment terms and conditions.)</a></p>
    <div class="bold addgreen">STEP 3</div>
    <p>To send your fabric, roll it on tubes piece by piece, rather than folding it.</p>
    <div class="bold addgreen">STEP 4</div>
    <p>Mark shipping labels with your company name and purchase order number, and ship FOB to:<br>Americo, 601 E. Barton, West Memphis, AR 72301</p>
    <div class="bold addgreen">STEP 5</div>
    <p>Allow 15 to 20 working days from the time we receive your fabric for us to complete your order.</p>
    <p class="addblack">DISCLAIMER: Americo does not inspect your fabric before lamination and assumes no liability for any processes, weaves, or finishes not applied by Americo (e.g., bleed-through dyes, biases weaves, crocking shrinking, etc.) Americlear laminates are not machine washable and exposure to the elements may cause laminate film to break down or peel, for which Americo assumes no responsibility. Please take advantage of our free sample lamination before placing your order.</p>
  </div>


  <div class="col-xs-12 col-sm-4 border-left addgray" id="clean">
    
  	<p class="bold addblack">TECHNICAL SPECS</p>
    <p>FILM: Translucent, .0006 gauge PVC
    <br>FLAME RETARDANCE: Meets or exceeds federal standards. Americlear lamination is fire-resistant when bonded to chemical flame-retardant fabrics.</p>
  	<p>COLD CRACK FACTOR:
    <br>Vinyl lamination withstands temps to -10° F.</p>
    <p>WIDTH OF GOODS:  45” to 58”</p>
    <p>APPEARANCE: Because of the idiosyncrasies of pigments used for dyeing fabrics, lamination can change fabric color slightly.</p>
    <p></p>    
    
    <div class="addgreen bold larger">
    <ul>
      <li>Custom or Pre-laminated</li>
      <li>Matte and Glossy Finishes</li>
      <li>Easy, Laundry-Free Care</li>
      <li>Free Samples</li>
      <li>Free Quotes</li>
    </ul>
    </div>
    
    <%= image_tag("2028_Wildfire_fmt.png", :class => "img-responsive") %>
    
    <p><a href="/styles/3">See Americo's Pre-Laminated Designer fabrics</a></p>
  	
  </div>    

  
</div>   