<% provide(:title, 'Cleaning Instructions') %>
<div class="row border-top">
  <div class="col-sm-12 col-md-3">
  	<ul>
  		<li>About Us</li>
  		<li>About Us</li>
  		<li>About Us</li>
  		<li>About Us</li>
  		<li>About Us</li>
  		<li>About Us</li>
  	</ul>
  	<div>
      <%= image_tag("swatch-image.png") %>
      <%= image_tag("free-catalog.png") %>
    </div>
    <div>
    
    </div>
  </div>

  <div class="col-sm-12 col-md-5 border-left addgray" id="clean">
    <h1 class="addmaroon"><span class="cat-title">Cleaning Instructions</span></h1>
  	<p class="stylename">Vinyl Cleaning And Care</p>
    <p class="stylename addmaroon">Do</p>


  	<ul>
  		<li>Clean spills immediately with warm soapy water and several clear water rinses.</li>
      <li>Use a medium bristle brush and moderate scrubbing to remove soiling agents embedded in textured surfaces.</li>
      <li>Read labels for commercial cleaning products before using to be sure they are recommended for vinyl.</li>
      <li>Test commercial cleaners in an inconspicuous spot before using.</li>
      <li>Use full-strength rubbing alcohol or bleach diluted with water to remove stains when the above suggestions do not work.</li>
      <li>Be gentle if using “soft scrub” type cleanser.</li>
  	</ul>

    <p class="stylename addmaroon">Don't</p>
    
    <ul>
      <li>Use abrasive powders, steel wool, or industrial strength cleaners. They cause glossy surfaces to become dull.</li>
      <li>Use household cleaners without testing them first. Many can damage or discolor vinyl products.</li>
      <li>Use dry cleaning fluids and lacquer solvents. They may remove printed patterns or disturb the surface.</li>
      <li>Use wax on vinyl fabrics because they may contain dyes that will cause permanent stains.</li>
    </ul>  
  </div>

  <div class="col-sm-12 col-md-4 addgray" id="stain">
    <div class="addmaroon stylename bold">Stain Removal Tips</div>
    <div>Some stains will set if they are not removed immediately. Others may be removed with specific techniques described below:</div>
    <ul class="top10">
      <li><strong>Ballpoint ink.</strong><br>Ink spots usually stain vinyl products permanently, but much of the stain may be removed by wiping immediately with rubbing alcohol.</li>
     
      <li><strong>Surface mildew.</strong><br>Wash with a bleach solution of one tablespoon of bleach to a quart of water, then rinse several times with clear water.</li>

      <li><strong>Tar, asphalt.</strong><br>Remove immediately. Lengthy contact will cause a permanent stain. To clean, use a cloth dampened with kerosene or mineral spirits, rub gently from outside of stain to center. This will prevent stain from spreading. Rinse with soap and water.</li>

      <li><strong>Chewing gum, car grease, shoe polish.</strong><br>Scrape off as much as possible (chewing gum will come off more easily if rubbed with an ice cube). Use mineral spirits to remove remainder. Shoe polish should be removed immediately as it contains dye which can cause permanent staining.</li>
    
    </ul>
    
    <div class=""></div>
    <div class=""></div>
    <div class=""></div>
    <div class=""></div>

 


  </div>    

  
</div>   