<% provide(:title, 'Americo Credit Application') %>

<div class="row border-top">

  <div class="col-sm-12 col-md-2 hidden-xs">
    <ul class="nav nav-pills nav-stacked">
      <li><a href="/about">About Us</a></li>
      <li><a href="/contact">Contact Us</a></li>
      <li><a href="/free_swatches">Free Swatches</a></li>
      <li><a href="/how_to_order">How to Order</a></li>
      <li><a href="/terms_and_conditions">Terms &amp; Conditions</a></li>
      <li><a href="/technical_specs">Technical Specs</a></li>
      <li><a href="/cleaning_instructions">Cleaning Instructions</a></li>
      <li><a href="/frequently_asked_questions">Frequent Questions</a></li>
      <li><a href="/privacy_policy">Privacy Policy</a></li>
      <li><a href="/how_to_measure">How to Measure</a></li>
      <li><a href="/place_an_order">Place an Order</a></li>
      <li><a href="/request_quote">Request a Quote</a></li>
      <li><a href="/request_catalog">Request a Catalog</a></li>
    </ul>
    <div>
      <%= link_to '/free_swatches' do %><%= image_tag("swatch-image.jpg") %><% end %>
      <%= link_to '/request_catalog' do %><%= image_tag("free-catalog.jpg") %><% end %>
    </div>
  </div>


  <div class="col-sm-12 col-md-10 border-left addgray" id="clean">

    <h1>Credit Application</h1>


	  <p>COMING SOON!</p>

  </div>
</div>