<% provide(:title, 'Free Swatches') %>

<div class="row border-top">

  <div class="col-sm-12 col-md-2 hidden-xs">
    <ul class="nav nav-pills nav-stacked">
      <li><a href="/about">About Us</a></li>
      <li><a href="/contact">Contact Us</a></li>
      <li class="active"><a href="/free_swatches">Free Swatches</a></li>
      <li><a href="/how_to_order">How to Order</a></li>
      <li><a href="/terms_and_conditions">Terms and Conditions</a></li>
      <li><a href="/technical_specs">Technical Specs</a></li>
      <li><a href="/cleaning_instructions">Cleaning Instructions</a></li>
      <li><a href="/frequently_asked_questions">Frequent Questions</a></li>
      <li><a href="/privacy_policy">Privacy Policy</a></li>
      <li><a href="/how_to_measure">How to Measure</a></li>
      <li><a href="/place_an_order">Place an Order</a></li>
      <li><a href="/request_quote">Request a Quote</a></li>
      <li><a href="/request_catalog">Request a Catalog</a></li>
    </ul>
  </div>

  <div class="col-sm-12 col-md-10 border-left addgray" id="clean">
    <h1 class="addmaroon"><span class="cat-title">Free Trial Swatches</span></h1>
    <p class="stylename addblack">Order As Many As You Like</p>
    <div class="row">
      <div class="col-xs-12 col-sm-9">        
        <p>8”x 10” swatches are free and ship within 1 busness day, via express mail.</p>
            <p>24”x24” and 54”x54” cuts are also availabe ant not charge, if needed to make you final selection.</p> 
      </div>
      <div class="col-xs-12 col-sm-3">
          <div>
              <%= image_tag("swatch-image.png", :class => "top10", alt:"Free Swatches") %>
          </div>
          <div>
             <%= link_to('/request_catalog', :class => "no-under") do %>
              <%= image_tag("free-catalog.png", :class => "top20", alt:"Free Catalog") %>
            <% end %>
          </div>  
          <div class="top40">
             <%= link_to('/categories/2', :class => "no-under onesix addarmy") do %>
              <strong>Don't Forget</strong><br>to order the<br>Non-Slip Pads
            <% end %>
          </div>  
      </div>    
    </div>    
  </div>
</div>   