<% provide(:title, 'Frequently Asked Questions') %>
<div class="row border-top">
  <div class="col-sm-12 col-md-2 hidden-xs">
    <ul class="nav nav-pills nav-stacked">
      <li><a href="/">About Us</a></li>
      <li><a href="/contact">Contact Us</a></li>
      <li><a href="/free_swatches">Free Swatches</a></li>
      <li><a href="/how_to_order">How to Order</a></li>
      <li><a href="/terms_and_conditions">Terms &amp; Conditions</a></li>
      <li><a href="/technical_specs">Technical Specs</a></li>
      <li><a href="/cleaning_instructions">Cleaning Instructions</a></li>
      <li class="active"><a href="/frequently_asked_questions">Frequent Questions</a></li>
      <li><a href="/privacy_policy">Privacy Policy</a></li>
      <li><a href="/how_to_measure">How to Measure</a></li>
      <li><a href="/request_quote">Request a Quote</a></li>
      <li><a href="/request_catalog">Request a Catalog</a></li>
    </ul>
    <div>
      <%= link_to '/free_swatches' do %><%= image_tag("swatch-image.jpg") %><% end %>
      <%= link_to '/request_catalog' do %><%= image_tag("free-catalog.jpg") %><% end %>
    </div>
  </div>

  <div class="col-sm-12 col-md-10 border-left addgray" id="clean">
    <h1 class="addmaroon"><span class="cat-title">Frequently Asked Questions</span></h1>

  	<p class="">We suggest you plan to replace vinyl table covers at least once a year. Laminated table covers will typically last a little longer. However, actual replacement rates for table covers will vary based on your usage. Some clients prefer to update their covers each season.</p>
  	<p></p>
  	<ol>
  		<b><li>What if one of my table covers gets damaged?</b>
        <br><span class="answer">Most clients order several extra table covers to have on hand in case a cover gets damaged by cigarette burns, graffiti, or other unexpected incident</span></li>
      <b><li>When will I receive my table covers?</b>
        <br><span class="answer">2-3 weeks after placing order</span></li>
      <b><li>How quickly do you ship roll goods?</b>
         <br><span class="answer">With 1 business day</span></li>
      <b><li>What are the dimensions of rolls?</b>
        <br><span class="answer">54" 25 yards</span></li>
      <b><li>How do I pay for my order?</b>
        <br><span class="answer">VISA, MasterCard, Discover, AmEx, C.O.D., or Net 30 with approved credit.</span>
        <br><a href="#"><span class="answer">Download a Credit Application</span></a></li>	  
  	</ol>
  	<p>Our hours of operation are Monday - Friday 8:00 am - 5:00 pm CST.<br>If you contact us outside of these times, we will get back to you within 48 hours.</p>
  </div>    

  
</div>   