<% provide(:title, 'How to Order') %>

<div class="row border-top">

  <div class="col-sm-12 col-md-2 hidden-xs">
    <ul class="nav nav-pills nav-stacked">
      <li><a href="/about">About Us</a></li>
      <li><a href="/contact">Contact Us</a></li>
      <li class="active"><a href="/how_to_order">How to Order</a></li>
      <li><a href="/terms_and_conditions">Terms and Conditions</a></li>
      <li><a href="/technical_specs">Technical Specs</a></li>
      <li><a href="/cleaning_instructions">Cleaning Instructions</a></li>
      <li><a href="/frequently_asked_questions">Frequent Question</a></li>
      <li><a href="/privacy_policy">Privacy Policy</a></li>
      <li><a href="/how_to_measure">How to Measure</a></li>
      <li><a href="/how_to_order">Place an Order</a></li>
      <li><a href="/request_quote">Request a Quote</a></li>
      <li><a href="/request_catalog">Request a Catalog</a></li>
    </ul>
    <div>
      <%= image_tag("swatch-image.png") %>
      <%= image_tag("free-catalog.png") %>
    </div>
  </div>

  <div class="col-sm-12 col-md-10 border-left addgray" id="clean">
    <h1 class="addmaroon"><span class="cat-title">How to Order</span></h1>
    <div class="row">
        
      <div class="col-xs-12 col-sm-7">
        <div class="stylename addmaroon">CUSTOM-MADE TABLE COVERS, TOPPERS AND RUNNERS</div>
        <div id="orangeback">1. Use your free swatches to select fabric styles and colors.</div>
        <div id="blueback">2. Choose table cover types from the illustrations <span class="glyphicon glyphicon-play"></span>
          <br>Note which tables, if any, need umbrella holes or Velcro (for booths attached to walls)</div>
        <div id="greenback">3. Measure your table tops in inches.<br>
          •  For square or rectangular tables, measure width first, then length (example: 32” x 42”) For standard drape covers, we add an 8” drop on all sides, unless you specify otherwise.<br>
          •   For round tables, measure the diameter of table from edge to edge across the center (example: 60”)<br>
          •   For floor length covers, measure from top of table to the floor.
        </div>
        <div id="redback">Request a quote.
          •  Provide us with the style number, color choice, and all your table measurements, and let us do the math.<br>
          •   For standard drape covers, we add an 8” drop on all sides, unless you specify otherwise.<br>
          •  Table runners come in 3 widths: 12”, 16” and 24”.
        </div>
        <div id="grayback">Place your order. 
          •  All table covers are precision-cut and constructed to your exact specifications. Edges are finished with a 1/4" single-turn hem.<br>
          •  Finished table covers are delivered within 5 to 15 days.
        </div>
        
      </div>

      <div class="col-xs-12 col-sm-5">
        <div id="stylename addmaroon">TABLE COVER TYPES</div>
               
      </div>    
    </div>    
  

  	<p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
  </div>    

  
</div>   