<% provide(:title, 'Markets') %>

<div class="row">
    <div class="col-sm-12">

      <div class="slider-wrapper theme-default">
        <div id="slider" class="nivoSlider">
          <%= image_tag("umbrella-drape-1170.png", alt: "slider1", :title => "#umbrellacaption", :data => { :thumb => 'slider-vinyl-table-covers.png' } ) %>
        </div>
        <div id="umbrellacaption" class="nivo-html-caption" style="display:none">
          <div class="nivo-1">
            <strong>Vinyl Tablecloths</strong> 
          </div>
          <div class="nivo-1a">
             Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim. 
          </div>
        </div>
      </div>
    </div>
  </div>  
  
  <div class="row" id="styleinfobox"> 
    <div class="col-sm-8">
      
      <div class="stylename">6100 Series — 26 patterns and 270 colors</div>
      <div class="styletype weighty">PREMIUM VINYL</div>
      <div class="stylesub">Table Covers Or Roll Goods</div>
      <div class="styletext">When your situation requires fabrics with greater resiliency, we have the solution. Our Premium vinyl collection offers fabrics that are 30 percent heavier than our classic vinyls. So they last longer, even in the most demanding environments. In addition, many of our premium vinyls are also a part of our upholstery Distinctions Collection.</div>

    </div>
    <div class="col-sm-4" id="home-made-usa">
       <div class="stylename  weighty">TECHNICAL SPECS</div>

       <p class="addgray">6100 series vinyls are13-mil printed Pvc film laminated to a 4 oz. per square yard non-woven, with a 30-mil upholsterygrade foam.<br />
        <a href="#">Additional specs.</a></p>

       <p class="addgreen"><b>STYLES 6111—6126</b><br>
      are part of our Distinctions Collections and are suitable for upholstery.</p>
       
       <p><a href="#">View Upholstery <span class="glyphicon glyphicon-play"></a></p>

    </div>
  </div>  

  <div class="row">
    





  </div>

