<% provide(:title, 'Request a Catalog') %>

<div class="row border-top">

  <div class="col-sm-12 col-md-2 hidden-xs">
    <ul class="nav nav-pills nav-stacked">
      <li><a href="/about">About Us</a></li>
      <li><a href="/contact">Contact Us</a></li>
      <li><a href="/free_swatches">Free Swatches</a></li>
      <li><a href="/how_to_order">How to Order</a></li>
      <li><a href="/terms_and_conditions">Terms &amp; Conditions</a></li>
      <li><a href="/technical_specs">Technical Specs</a></li>
      <li><a href="/cleaning_instructions">Cleaning Instructions</a></li>
      <li><a href="/frequently_asked_questions">Frequent Question</a></li>
      <li><a href="/privacy_policy">Privacy Policy</a></li>
      <li><a href="/how_to_measure">How to Measure</a></li>
      <li><a href="/request_quote">Request a Quote</a></li>
      <li class="active"><a href="/request_catalog">Request a Catalog</a></li>
    </ul>
   
  </div>

  <div class="col-sm-12 col-md-10 border-left addgray" id="clean">
    <h1 class="addmaroon"><span class="cat-title">Request a Free Catalog</span></h1>
    <div class="row">
      <div class="col-xs-7 splashtext top20">
    
        <p>Whether your décor is contemporary, traditional, upscale, casual, or ethnic, Americo has a wide selection of high-performance vinyl, laminated table covers and upholstery fabrics to make your space look fantastic.</p>
        <p>With so many choices, we know it can be hard to make up your mind. That’s why we produce a 98-page catalog that's yours free for the asking.</p>
        
        <p>This beautifully photographed catalog makes it easy to browse our collections whenever and wherever you choose. See and show all our fabrics, placemats, and other table accessories. Every style.  Every color.</p>
        <p>Plus, you’ll find decorating tips, product specs, and complete ordering and measuring instructions. Order yours today or download a pdf to print now.</p>
         <center>
          <%= link_to('Add to Cart', '/line_items?series_id=80&color_id=574', :class => "btn btn-lg btn-primary", method: :post ) %> </center>
      </div>  
      <div class="col-xs-5">
        <%= image_tag('americo-catalog.jpg', class: "img-responsive")  %>
      </div>
    </div>    

  </div>    

  
</div>   