<% provide(:title, 'Satisfied Customers') %>

<div class="row border-top">

  <div class="col-sm-12 col-md-9 splashtext">
    <h1 class="addgold">Our Satisfied Customers</h1>
    <div class="">We have some of the nicest and most loyal customers in the world. Thanks to our valuable clients, you can find our “Made In America” vinyl table covers, vinyl upholstery fabrics, laminates, vinyl fabric and placemats in restaurants and businesses around the country. Hat tip to the following clients for sharing their appreciation for our product. We encourage you to look them up, if you’re ever in their area.</div>
    <hr>
    <div class="addorange">“While dining at a nice restaurant, I ran across a set of table covers that were both unique and attractive. I asked the owner for the name of the company and he told me Americo Inc. The next day I called Americo and they sent me out a design catalog. I was amazed at the range of styles and colors offered. I have since replaced all of my cloth table coverings with premium vinyl tablecloths. The table covers are very easy to clean, and have completely cut out my weekly linen costs. I receive compliments on a daily basis on how nice the coverings look. It has also been a pleasure dealing with the staff at Americo. They are there to answer any questions and make placing an order quick and easy. Thanks to Ken and the staff at Americo.”<br><br>
    <strong>Skip Perry</strong><br>
    Owner, Wrigley’s Chicago Restaurant<br>
    Golden, Colorado<br>
    <a href="http://www.wrigleyschicagobar.net">http://www.wrigleyschicagobar.net</a></div>
    <hr>

    <div class="addgold">“Americo has quality products and great service. We have a loyal following for their vinyl table coverings. Our customers love the products and also come in to buy table covers for their friends and family who are unable to find them in their local stores.”<br><br>
    <strong>Lorraine Zimmerman</strong>
    <br>Owner, Pennsylvania Dutch Restaurant &amp; Bakery
    <br>Traditions Fabric and Clothing Gift Shop and Retail
    <br>Martinsburg, Pennsylvania
    <br><a href="http://www.traditionsweb.com">http://www.traditionsweb.com</a></div>
    <hr>
    
    <div class="addorange">"Our third generation pizzeria has used Americo for more than 20 years and have never had an issue. They have great products and personalized customer service. I would recommend them to anyone who is looking for vinyl table covers and ablecloths and vinyl upholstery fabric.”<br><br>
    <strong>Steve Napolitano</strong>
    <br>Owner Regina Pizzeria and Polcaris Restaurants
    <br>Massachusetts, Connecticut and New Hampshire
    <br><a href="http://www.raii.com">http://www.raii.com</a>
    <br>Voted #1 Pizzeria in Boston</div>
    <hr>
    
    <div class="addgold">“Maine Supply Co., Inc. has been a dealer for Americo for about 10 years. They make high quality vinyl and laminated tablecloths for our customers. We never get complaints about the quality of their products which is a good thing in our business. A couple times mistakes were made and Americo was very quick to rectify the situation which I appreciate. I also like the people. Ken, Jerry and Cort are very knowledgeable and fun to work with. It is always a pleasure talking to them as they know me as a person and not as a number. I plan to do business with Americo for many years into the future.”<br><br>
    <strong>Greg Dunn</strong>
    <br>Maine Supply Co., Inc.
    <br>Eddington, Maine
    <br><a href="http://www.mainesupply.net">http://www.mainesupply.net</a>
    <br><a href="http://www.restaurantproducts.us">http://www.restaurantproducts.us</a></div>
    <hr>
    
    <div class="addorange">“I have been using vinyl tablecloths from Americo for the past 10 years. The quality of their products is great. We have been happy with their service and our salesman Ken does a great job for us. I would recommend Americo to anyone looking for quality vinyl table covers that last.”<br><br>
    <strong>Matt Smith</strong>
    <br>President, Pizza Pie Café
    <br>Utah and Idaho
    <br><a href="http://www.pizzapiecafe.com">http://www.pizzapiecafe.com</a></div>
  </div>

  <div class="col-sm-12 col-md-3 border-left addgray" >
    <div class="satisfied-list" id="lightgreenback">
        <div class="larger bold">Americo vinyl tablecloths, upholstery goods, and laminates are ideal for:</div><br>
        <span class="splashtext">
        <ul class="noindent">
        <li class="noindent">Restaurants, Coffee Shops, and Bars</li>
        <li class="noindent">Hotels And Motels</li>
        <li class="noindent">Offices</li>
        <li class="noindent">Convention Centers</li>
        <li class="noindent">Churches And Schools</li>
        <li class="noindent">Hospitals And Healthcare Facilities</li>
        <li class="noindent">Country Clubs</li>
        <li class="noindent">Recreational Venues</li>
        <li class="noindent">Caterers</li>
        <li class="noindent">Casinos</li>
        <li class="noindent">Spas And Resorts</li>
        <li class="noindent">Correctional Institutions</li>
        <li class="noindent">...and more</li>
        </ul>
        </span>
        <%= image_tag('made-in-usa.png', class: "img-responsive pull-right") %>
        <div class="clearfix"></div>
    </div> 

    <div class="splashtext" id="lightorangeback">
      <div class="larger bold">5 Reasons<br>To Choose Americo</div><br>
        <div class="row">
            <div class="col-xs-1 larger bold">
              1
            </div>
            <div class="col-xs-10"><strong>Selection</strong>
                <br>Artistic designs and extensive color palettes inspire creativity.
            </div>
        </div>
        <div class="row top10">
            <div class="col-xs-1 larger bold">
              2
            </div>
            <div class="col-xs-10"><strong>Durability</strong>
                <br>Americo vinyls last longer, even in the busiest settings.
            </div>
        </div>
        <div class="row top10">
            <div class="col-xs-1 larger bold">
              3
            </div>
            <div class="col-xs-10"><strong>Value</strong>
                <br>Vinyl is affordable and a snap to maintain. Simply wipe and go.
            </div>
        </div>
        <div class="row top10">
            <div class="col-xs-1 larger bold">
              4
            </div>
            <div class="col-xs-10"><strong>Versatility</strong>
                <br>Fabrics are available as custom-made table covers, by the roll, or by the piece.
            </div>
        </div>
        <div class="row top10">
            <div class="col-xs-1 larger bold">
              5
            </div>
            <div class="col-xs-10"><strong>Service</strong>
                <br>Your call is answered by a real person during normal business hours and free swatches ship in 1 day to make choosing your pattern easy.
            </div>
        </div>

        
    </div> 

  </div>    
  
</div>   