<% provide(:title, 'Technical Specs') %>
<div class="row border-top">
  <div class="col-sm-12 col-md-3">
  	<ul>
  		<li>About Us</li>
  		<li>About Us</li>
  		<li>About Us</li>
  		<li>About Us</li>
  		<li>About Us</li>
  		<li>About Us</li>
  	</ul>
  	<div>
      <%= image_tag("swatch-image.png") %>
      <%= image_tag("free-catalog.png") %>
    </div>
    <div>
    
    </div>
  </div>

  <div class="col-sm-12 col-md-5 border-left addgray" id="clean">
    <h1 class="addmaroon"><span class="cat-title">Technical Specifications</span></h1>
  	<p class="addmaroon bold">9800 SERIES</p>
  	<p class="addmaroon bold">Classic (VINYL FABRICS)</p>
    <p>10 MIL Printed PVC Film, Laminated to a 4 oz. per sq. yd. non-woven with upholstery grade foam F.R. Test our 9800 Series will pass as is: State of California, Bureau or Home Furnishings as Specified in their Regulation Technical Bulletin<br>No.117, SECTION E</p>
    <p>Motor Vehicle Safety Standard No. 302 (MVSS302) Commercial Standard for Flammability</p>
    <p>CS191-53, CLASS I, Normal Flammability</p>

  	<p class="addmaroon bold">1200 &amp; 2000 SERIES</p>
  	<p class="addmaroon bold">Designer (LAMINATED FABRICS)</p>
    <p>F.R. Test our 1200 &amp; 2000 Series will Pass As Is:</p>
	<p>State of California, Bureau of Home Furnishings as Specified in their Regulation Technical Bulletin <br>No. 117, SECTION E</p>
    <p>Motor Vehicle Safety Standard No. 302 (MVSS302)<br>Commercial Standard for Flammability</p>
    <p>Commercial Standard for Flammability<br>CS191-53, CLASS I, Normal Flammability</p>
    

    <p class="addmaroon bold">7100 SERIES</p>
  	<p class="addmaroon bold">Value (VINYL FABRICS)</p>
    <p>Composition-6 mil printed film.<br>Laminated to 2.5 oz. per sq. yd. polyester</p>

    <p class="addmaroon bold">Laminated Fabric/Americlear</p>
  	<p>FILM: Translucent, .0006 gauge<br>FLAME RETARDANCE: Meets or exceeds federal standards. americlear lamination are fire-resistant when bonded to chemical flame-retardant fabrics</p>
    <p>COLD CRACK FACTOR:<br>Vinyl lamination withstands temps to -10° F.
    					<br>WIDTH oF GooDs: 45” to 58”
    					<br>APPEARANCE: Because of the idiosyncrasies of pigments used for dyeing fabrics, the lamination process may change the fabric color slightly.</p>
    

     
    <p class="addmaroon bold">Non-slip Pad</p>
  	<p>Flame retardant: Meets or exceeds Department of Commerce FF170 and FMVss 302.</p>
    
    
    <p class="addmaroon bold">CLASSIC VINYL PAD /9808 -White</p>
  	<p>9800 series vinyls are 10-mil printed Pvc film laminated to a 4 oz. per square yard non-woven polyester.</p>








  </div>

  <div class="col-sm-12 col-md-4 addgray" id="stain">
    <div class="addmaroon stylename bold">Stain Removal Tips</div>
    <div>Some stains will set if they are not removed immediately. Others may be removed with specific techniques described below:</div>
    <ul class="top10">
      <li><strong>Ballpoint ink.</strong><br>Ink spots usually stain vinyl products permanently, but much of the stain may be removed by wiping immediately with rubbing alcohol.</li>
     
      <li><strong>Surface mildew.</strong><br>Wash with a bleach solution of one tablespoon of bleach to a quart of water, then rinse several times with clear water.</li>

      <li><strong>Tar, asphalt.</strong><br>Remove immediately. Lengthy contact will cause a permanent stain. To clean, use a cloth dampened with kerosene or mineral spirits, rub gently from outside of stain to center. This will prevent stain from spreading. Rinse with soap and water.</li>

      <li><strong>Chewing gum, car grease, shoe polish.</strong><br>Scrape off as much as possible (chewing gum will come off more easily if rubbed with an ice cube). Use mineral spirits to remove remainder. Shoe polish should be removed immediately as it contains dye which can cause permanent staining.</li>
    
    </ul>
    
    <div class=""></div>
    <div class=""></div>
    <div class=""></div>
    <div class=""></div>

 


  </div>    

  
</div>   