<% provide(:title, 'Americo Tradeshow Schedule') %>
<% provide(:description, 'Americo Tradeshow Schedule') %>
<div class="row border-top">

  <div class="col-sm-12 col-md-9 splashtext">
    <h1 class="addorange">Americo Events Schedule</h1>

    <table class="table table-striped top40">
      <tr>
      	<td>AUGUST 2-4</td>
    	<td>LOUISIANA REST. ASSOC.</td>
    	<td>NEW ORLEANS</td>
    	<td>834</td>
      </tr>
      <tr>
      	<td>AUGUST 17-19</td>
    	<td>WESTERN F/S SHOW</td>
    	<td>ANAHEIM</td>
    	<td>1741</td>
      </tr>
      <tr>
      	<td>OCTOBER 6-7</td>
    	<td>AHCA/NCAL</td>
    	<td>WASHINGTON, DC</td>
    	<td>519</td>
      </tr>
      <tr>
      	<td>OCTOBER 20-22</td>
    	<td>LEADING AGE</td>
    	<td>NASHVILLE</td>
    	<td>504</td>
      </tr>	
      <tr>
      <td>NOVEMBER 18-21</td>
      <td>IAAPA</td>
      <td>ORLANDO</td>
      <td>4418</td>
      </tr>
      <tr>
        <td>JANUARY 20-22, 2015</td>
        <td>INTERNATIONAL WINDOW COVERS</td>
        <td>LAS VEGAS</td>
        <td>338</td>
      </tr>
      <tr>
        <td>MARCH 8-10</td>
        <td>INTERNATIONAL RESTAURANT & F/S Show</td>
        <td>NEW YORK</td>
        <td>1356</td>
      </tr>
      <tr>
        <td>MARCH 9-10</td>
        <td>CLUB MANAGEMENT</td>
        <td>SAN ANTONIO</td>
        <td>371</td>
      </tr>
      <tr>
        <td>MARCH 15-17</td>
        <td>NEW ENGLAND FOOD</td>
        <td>BOSTON</td>
        <td>3123</td>
      </tr>
      <tr>
        <td>MARCH 24-26</td>
        <td>INTERNATIONAL PIZZA</td>
        <td>LAS VEGAS</td>
        <td>1567</td>
      </tr>
      <tr>
        <td>JUNE 28-29</td>
        <td>SOUTHWEST F/S</td>
        <td>DALLAS, TX</td>
        <td>729</td>
      </tr>
      <tr>
        <td>AUGUST 8-10</td>
        <td>LOUISIANA</td>
        <td>NEW ORLEANS</td>
        <td>TBA</td>
      </tr>
      <tr>
        <td>AUGUST 23-25</td>
        <td>WESTERN F/S</td>
        <td>LOS ANGELES</td>
        <td>1211</td>
      </tr>
      <tr>
        <td>OCTOBER 6-8</td>
        <td>FLORIDA RESTAURANT</td>
        <td>ORLANDO</td>
        <td>TBA</td>
      </tr>
      <tr>
        <td>NOV 2-4</td>
        <td>LEADING AGE</td>
        <td></td>
        <td>TBA</td>
      </tr>
      <tr>
        <td>NOV 16-20</td>
        <td>IAAPA</td>
        <td>ORLANDO</td>
        <td>TBA</td>
      </tr>
    </table>
  </div>

  <div class="col-sm-12 col-md-3 border-left addgray" >
    <div class="satisfied-list" id="lightorangeback">
        <div class="larger bold">Americo vinyl tablecloths, upholstery goods, and laminates are ideal for:</div><br>
        <span class="splashtext">
        <ul class="noindent">
        <li class="noindent">Restaurants, Coffee Shops, and Bars</li>
        <li class="noindent">Hotels And Motels</li>
        <li class="noindent">Offices</li>
        <li class="noindent">Convention Centers</li>
        <li class="noindent">Churches And Schools</li>
        <li class="noindent">Hospitals And Healthcare Facilities</li>
        <li class="noindent">Country Clubs</li>
        <li class="noindent">Recreational Venues</li>
        <li class="noindent">Caterers</li>
        <li class="noindent">Casinos</li>
        <li class="noindent">Spas And Resorts</li>
        <li class="noindent">Correctional Institutions</li>
        <li class="noindent">...and more</li>
        </ul>
        </span>
        <%= image_tag('event-schedule.png', class: "img-responsive pull-right") %>
        <div class="clearfix"></div>
    </div> 

  </div>    
  
</div>   