Dear Administrator,

You have received Quote ID #<%= render @quote.id %> on your Dashboard.

<a href="https://www.americo-inc.com/admin/quote/<%= @quote.id %>">https://www.americo-inc.com/admin/quotes/<%= @quote.id %></a>

Please check it as soon as possible.

Thanks- 
System