
<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i> Dashboard
            </li>
              <li class="active">
                <i class="fa fa-map-marker"></i> Geo Charts
            </li>

        </ol>
         <h1 class="page-header">
            Charts & Stats <small>Statistics Overview</small>
        </h1>
    </div>
</div>
<!-- /.row -->

<div id="embed-api-auth-container" class=""></div><br>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-gray">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-user"></i> Unique User Sessions by State - From Last 30 Days</h3>
      </div>
      <div class="panel-body">
        <div id="view-selector-1-container" class=""></div>
        <div id="chart-1-container"></div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-gray">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-user"></i> Unique User Sessions by Province - From Last 30 Days</h3>
      </div>
      <div class="panel-body">
        <div id="view-selector-2-container" class=""></div>
        <div id="chart-2-container"></div>
      </div>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
           <a href="users">
             <div class="panel-heading">
                  <div class="row">
                      <div class="col-xs-3">
                          <i class="fa fa-users fa-5x"></i>
                      </div>
                      <div class="col-xs-9 text-right">
                          <div class="huge"><%= @new_users.count %></div>
                          <div>New Users this Month</div>
                      </div>
                  </div>
              </div>
              <div class="panel-footer">
                  <span class="pull-left">View Details</span>
                  <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                  <div class="clearfix"></div>
              </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-dark">
          <a href="orders">

              <div class="panel-heading">
                  <div class="row">
                      <div class="col-xs-3">
                          <i class="fa fa-shopping-cart fa-5x"></i>
                      </div>
                      <div class="col-xs-9 text-right">
                          <div class="huge"><%= @new_orders.count %></div>
                          <div>New Orders</div>
                      </div>
                  </div>
              </div>
              <div class="panel-footer">

                <span class="pull-left">View Details</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                 <div class="clearfix"></div>
              </div>
  </a>

        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <a href="quotes">
              <div class="panel-heading">
                  <div class="row">
                      <div class="col-xs-3">
                          <i class="fa fa-tags fa-5x"></i>
                      </div>
                      <div class="col-xs-9 text-right">
                          <div class="huge"><%= @new_quotes.count %></div>
                          <div>New Quotes</div>
                      </div>
                  </div>
              </div>
              <div class="panel-footer">
                <span class="pull-left">View Details</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
              </div>
            </a>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <a href="purchases">
              <div class="panel-heading">
                  <div class="row">
                      <div class="col-xs-3">
                          <i class="fa fa-credit-card fa-5x"></i>
                      </div>
                      <div class="col-xs-9 text-right">
                          <div class="huge"><%= @new_purchases.count %></div>
                          <div>New Purchases</div>
                      </div>
                  </div>
              </div>

              <div class="panel-footer">
                  <span class="pull-left">View Details</span>
                  <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                  <div class="clearfix"></div>
              </div>
            </a>
        </div>
    </div>
</div>
<!-- /.row -->



<!-- Step 2: Load the library. -->

<script>
(function(w,d,s,g,js,fs){
  g=w.gapi||(w.gapi={});g.analytics={q:[],ready:function(f){this.q.push(f);}};
  js=d.createElement(s);fs=d.getElementsByTagName(s)[0];
  js.src='https://apis.google.com/js/platform.js';
  fs.parentNode.insertBefore(js,fs);js.onload=function(){g.load('analytics');};
}(window,document,'script'));
</script>

<script>

gapi.analytics.ready(function() {
  /**
   * Authorize the user immediately if the user has already granted access.
   * If no access has been created, render an authorize button inside the
   * element with the ID "embed-api-auth-container".
   */
  gapi.analytics.auth.authorize({
    container: 'embed-api-auth-container',
    clientid: '210551902511-ollcuvtmlno09prd2gvruubgaphopksu.apps.googleusercontent.com',
  });

  /**
   * Create a ViewSelector for the first view to be rendered inside of an
   * element with the id "view-selector-1-container".
   */
  var viewSelector1 = new gapi.analytics.ViewSelector({
    container: 'view-selector-1-container'
  });

  var viewSelector2 = new gapi.analytics.ViewSelector({
    container: 'view-selector-2-container'
  });

  // Render both view selectors to the page.
  viewSelector1.execute();
  viewSelector2.execute();

  /**
   * Create the first DataChart over the past 30 days.
   * It will be rendered inside an element with the id "chart-1-container".
   */
  var dataChart1 = new gapi.analytics.googleCharts.DataChart({
    query: {
      ids: '88344494',
      metrics: 'ga:sessions',
      dimensions: 'ga:region',
      'start-date': '30daysAgo',
      'end-date': 'yesterday'
    },
    chart: {
      container: 'chart-1-container',
      type: 'GEO',
      options: {
        width: '100%',
        region: 'US',
        resolution: 'provinces',
        displayMode: 'regions',
      }
    }
  });

  var dataChart2 = new gapi.analytics.googleCharts.DataChart({
    query: {
      ids: '88344494',
      metrics: 'ga:sessions',
      dimensions: 'ga:region',
      'start-date': '30daysAgo',
      'end-date': 'yesterday'
    },
    chart: {
      container: 'chart-2-container',
      type: 'GEO',
      options: {
        width: '100%',
        region: 'CA',
        resolution: 'provinces',
        displayMode: 'regions',
      }
    }
  });

  /**
   * Update the first dataChart when the first view selecter is changed.
   */
  viewSelector1.on('change', function(ids) {
    dataChart1.set({query: {ids: ids}}).execute();
  });

  viewSelector2.on('change', function(ids) {
    dataChart2.set({query: {ids: ids}}).execute();
  });

});
</script>