
<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i> Dashboard
            </li>
              <li class="active">
                <i class="fa fa-line-chart"></i> Visits &amp; Pageviews
            </li>

        </ol>
        <h1 class="page-header">
            Visits &amp; Pageviews <small>from Google Analytics API</small>
        </h1>
    </div>
</div>
<!-- /.row -->


<div id="embed-api-auth-container" class=""></div><br>

<div class="row">
  <div class="col-lg-12">
     <div class="panel panel-gray">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> User Sessions per day - Last 30 Days</h3>
      </div>
      <div class="panel-body">
            <div id="view-selector-1-container" class=""></div>
            <div id="chart-1-container"></div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Pages Viewed per day - Last 30 Days</h3>
      </div>
      <div class="panel-body">
        <div id="view-selector-2-container" class=""></div>
        <div id="chart-2-container"></div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-gray">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Pages Views per Session - Last 30 Days</h3>
      </div>
      <div class="panel-body">
        <div id="view-selector-3-container" class=""></div>
        <div id="chart-3-container"></div>
      </div>
    </div>
  </div>
</div>



<!-- Step 2: Load the library. -->

<script>
(function(w,d,s,g,js,fs){
  g=w.gapi||(w.gapi={});g.analytics={q:[],ready:function(f){this.q.push(f);}};
  js=d.createElement(s);fs=d.getElementsByTagName(s)[0];
  js.src='https://apis.google.com/js/platform.js';
  fs.parentNode.insertBefore(js,fs);js.onload=function(){g.load('analytics');};
}(window,document,'script'));
</script>

<script>
gapi.analytics.ready(function() {
  /**
   * Authorize the user immediately if the user has already granted access.
   * If no access has been created, render an authorize button inside the
   * element with the ID "embed-api-auth-container".
   */
  gapi.analytics.auth.authorize({
    container: 'embed-api-auth-container',
    clientid: '210551902511-ollcuvtmlno09prd2gvruubgaphopksu.apps.googleusercontent.com',
  });

  var viewSelector1 = new gapi.analytics.ViewSelector({
    container: 'view-selector-1-container'
  });

  var viewSelector2 = new gapi.analytics.ViewSelector({
    container: 'view-selector-2-container'
  });

  var viewSelector3 = new gapi.analytics.ViewSelector({
    container: 'view-selector-3-container'
  });

  // Render both view selectors to the page.
  viewSelector1.execute();
  viewSelector2.execute();
  viewSelector3.execute();

  /**
   * Create the first DataChart over the past 30 days.
   * It will be rendered inside an element with the id "chart-1-container".
   */

   var requests = [
   {
      query: {
        ids: '88344494',
        metrics: 'ga:sessions',
        dimensions: 'ga:date',
        'start-date': '30daysAgo',
        'end-date': 'yesterday'
      },
      chart: {
        container: 'chart-1-container',
        type: 'LINE',
        options: {
          width: '100%'
        }
      }
    }, {
      query: {
        ids: '88344494',
        metrics: 'ga:pageviews',
        dimensions: 'ga:date',
        'start-date': '30daysAgo',
        'end-date': 'yesterday'
      },
      chart: {
        container: 'chart-2-container',
        type: 'LINE',
        options: {
          width: '100%'
        }
      }
    }, {
      query: {
        ids: '88344494',
        metrics: 'ga:pageviewsPerSession',
        dimensions: 'ga:date',
        'start-date': '30daysAgo',
        'end-date': 'yesterday'
      },
      chart: {
        container: 'chart-3-container',
        type: 'LINE',
        options: {
          width: '100%'
        }
      }
    }
   ];


/*
var makeCallThrottled = _.throttle(function(config) {
  config.resp = new gapi.analytics.googleCharts.DataChart(config);
}, 100);

_.each(request, function(request) {
  console.log('called');
  makeCallThrottled(request);
});
*/

  var dataChart1 = new gapi.analytics.googleCharts.DataChart({
    query: {
      ids: '88344494',
      metrics: 'ga:sessions',
      dimensions: 'ga:date',
      'start-date': '30daysAgo',
      'end-date': 'yesterday'
    },
    chart: {
      container: 'chart-1-container',
      type: 'LINE',
      options: {
        width: '100%'
      }
    }
  });

  var dataChart2 = new gapi.analytics.googleCharts.DataChart({
    query: {
      ids: '88344494',
      metrics: 'ga:pageviews',
      dimensions: 'ga:date',
      'start-date': '30daysAgo',
      'end-date': 'yesterday'
    },
    chart: {
      container: 'chart-2-container',
      type: 'LINE',
      options: {
        width: '100%'
      }
    }
  });

  var dataChart3 = new gapi.analytics.googleCharts.DataChart({
    query: {
      ids: '88344494',
      metrics: 'ga:pageviewsPerSession',
      dimensions: 'ga:date',
      'start-date': '30daysAgo',
      'end-date': 'yesterday'
    },
    chart: {
      container: 'chart-3-container',
      type: 'LINE',
      options: {
        width: '100%'
      }
    }
  });


  /**
   * Update the first dataChart when the first view selecter is changed.
  */

  viewSelector1.on('change', function(ids) {
    dataChart1.set({query: {ids: ids}}).execute();
  });

  viewSelector2.on('change', function(ids) {
    dataChart2.set({query: {ids: ids}}).execute();
  });

  viewSelector3.on('change', function(ids) {
    dataChart3.set({query: {ids: ids}}).execute();
  });

});
</script>