Dear Administrator,

You have received an Order ID #<%= render @order.id %> on your Dashboard

<a href="https://www.americo-inc.com/admin/orders/<%= @order.id %>">https://www.americo-inc.com/admin/orders/<%= @order.id %></a>

Please check it as soon as possible.

Thanks- 
System