<div class="row">

	

	<div class="col-sm-12 col-md-12">

		<h1>New Vinyl Goods Quote</h1>

		<p>Styles 9800 &amp; 6100</p>
		<p>We custom cut and sew covers to fit any table size / Whole roll (25 yards x 54" width) / Cut goods (any length X 54" width), Cloths wider than 54" will be seamed. Give us your table size &amp; we will do the math, or see how to measure page for specifics.</p>

		<div>Please be sure you have visited our <a href="/how_to_measure">measuring page for how to measure and table styles</a>.</div>


		<%= render 'form' %>

		<%= link_to 'Back', vinyls_path %>



	</div>

</div>