Dear Administrator,

You have received Purchase ID #<%= @purchase.id %> on your Dashboard.

<a href="https://www.americo-inc.com/admin/purchase/<%= @purchase.id %>">https://www.americo-inc.com/admin/purchases/<%= @purchase.id %></a>

Please check it as soon as possible.

Thanks- 
System