<div class="row" id="connect"> 

    <div class="col-md-5">
        <p class="top5"><b>Stay connected with Americo Inc. 800-626-2350</b>  <a href="/contact"><span class="glyphicon glyphicon-envelope"></span></a></p>
        <div class="visible-xs visible-sm add-bottom"></div>
    </div>
    
<!--
    <div class="col-md-7">
      
        <%= form_for(subscriber, :html => { :class => "form-horizontal"} )  do |f| %>
          <div class="field form-group">
              
            <%= f.label :email, 'Enter email for Special Offers', :class => "col-sm-4 col-lg-4 control-label" %> 
              
            <div class="col-sm-6 col-lg-6">


            <%= f.email_field :email, :class => "form-control bottom10", :placeholder => "Enter email"%>
            </div>
        
            <div class="col-sm-2 col-lg-2">
            <%= f.submit 'GO', :class => "btn btn-danger btn-block" %>
            </div>
          </div>
        <% end -%>  
    </div>
-->



<div class="col-md-7">
    <div class="field form-group">
              
        <label class="col-sm-4 col-lg-4 control-label" for="subscriber_email">Signup for Special Offers</label> 
             
        <div class="col-sm-8 col-lg-8">
        <!-- BEGIN: Constant Contact Email List Form Button -->
        <a target="new" href="http://visitor.r20.constantcontact.com/d.jsp?llr=j4rb9sqab&amp;p=oi&amp;m=1117322790889&amp;sit=8wpamrxib&amp;f=7e954c51-d956-4ceb-b3be-2a8cf6773713" class="button" style="background-color: rgb(217, 83, 79); border: 1px solid rgb(91, 91, 91); color: rgb(255, 255, 255); display: inline-block; padding: 8px 10px; text-shadow: none; border-top-left-radius: 10px; border-top-right-radius: 10px; border-bottom-right-radius: 10px; border-bottom-left-radius: 10px;">Sign Up for Americo's Special Offers Now</a>
        </div>
            
    </div>
</div>


    <!--
    <div class="col-md-7">
        <a href="http://visitor.r20.constantcontact.com/d.jsp?llr=j4rb9sqab&amp;p=oi&amp;m=1117322790889&amp;sit=8wpamrxib&amp;f=7e954c51-d956-4ceb-b3be-2a8cf6773713" class="button" style="background-color: rgb(217, 83, 79); border: 1px solid rgb(91, 91, 91); color: rgb(255, 255, 255); display: inline-block; padding: 8px 10px; text-shadow: none; border-top-left-radius: 10px; border-top-right-radius: 10px; border-bottom-right-radius: 10px; border-bottom-left-radius: 10px;">Sign Up for Americo's Special Offers Now</a>

     
        <form accept-charset="UTF-8" action="/subscribers" class="form-horizontal" id="new_subscriber" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="IftyJIIlKwv33H8/y96A1PSbgUyCY5kq6xu1FWqPyzQ=" /></div>
              <div class="field form-group">
                  
                <label class="col-sm-4 col-lg-4 control-label" for="subscriber_email">Enter email for Special Offers</label> 
                  
                <div class="col-sm-6 col-lg-6">
                <input class="form-control bottom10" id="subscriber_email" name="subscriber[email]" placeholder="Enter email" type="email" />
                </div>
            
                <div class="col-sm-2 col-lg-2">
                <input class="btn btn-danger btn-block" name="commit" type="submit" value="GO" />
                </div>
              </div>
        </form>

    </div>
-->
</div>
