<div class="row" id="connect"> 

  <div class="col-md-5">
    <p class="top5"><b>Stay connected with Americo Inc. 800-626-2350</b>  <a href="/contact"><span class="glyphicon glyphicon-envelope"></span></a></p>
    <div class="visible-xs visible-sm add-bottom"></div>
  </div>
    
  <div class="col-md-7">
    <div class="field form-group">
      <label class="col-sm-5 col-lg-5 control-label" style="margin-top:6px;" for="subscriber_email">Signup for Special Offers:</label> 
             
      <div class="col-sm-7 col-lg-7">
        <a target="new" href="http://visitor.r20.constantcontact.com/d.jsp?llr=j4rb9sqab&amp;p=oi&amp;m=1117322790889&amp;sit=8wpamrxib&amp;f=7e954c51-d956-4ceb-b3be-2a8cf6773713" class="form-control button btn btn-danger bottom10" style="color: rgb(255, 255, 255);  text-shadow: none; border-top-left-radius: 10px; border-top-right-radius: 10px; border-bottom-right-radius: 10px; border-bottom-left-radius: 10px; display:inline-block; vertical-align: middle;">Join Americo's Mailing List Now</a>
      </div>
    </div>
  </div>
</div>