<div class="panel panel-default">
  
  <div class="panel-heading">
    <h3 class="panel-title"><h3>Your Shopping Cart</h3> Please review the contents of your shopping cart.</h3>
  </div>	

  <div class="panel-body">
    	 
    	<% if (@cart.line_items.empty?) %>
    	<div class="row">
        	<div class="col-xs-12">
				You cart is empty!
	    	</div>
    	</div>
        <% end %>

    	<div class="row">
        	<div class="col-xs-2">
				Image
	    	</div>
	
	    	<div class="col-xs-2">
				Style
	    	</div>

	    	<div class="col-xs-2">
				Color
	    	</div>
	
	    	<div class="col-xs-1">
				Qty
	    	</div>

	    	<div class="col-xs-3">
				Remove
	    	</div>

    	</div>
        <hr class="cartline"> 

        <%= render(cart.line_items) %>
        

	</div>	
</div>	

<div class="btn-group">
	  <%= link_to 'Checkout', @cart, method: :get, class: "btn btn-default", type: "button"  %>
	  <%= link_to 'Empty cart', @cart, method: :delete, data: { confirm: 'Are you sure?' }, remote: true, class: "btn btn-default", type: "button"  %>
</div>



