<div class="well">

	<div class="cart_title">Shopping Cart</div> 

    	 <% if (@cart.line_items.empty?) %>
    	<div class="row">
        	<div class="col-xs-12">
				You cart is empty!
	    	</div>
    	</div>
        <% end %>

    	<div class="row">
        	<div class="col-xs-2">
				Image
	    	</div>
	
	    	<div class="col-xs-3">
				Style
	    	</div>

	    	<div class="col-xs-3">
				Color
	    	</div>
	
	    	<div class="col-xs-2">
				Qty
	    	</div>

	    	<div class="col-xs-2">
				Remove
	    	</div>

    	</div>

        <%= render(cart.line_items) %>

</div>

<div class="btn-group">
	  <%= link_to 'Checkout', new_order_path, method: :get, class: "btn btn-default", type: "button"  %>
	  <%= link_to 'Empty cart', @cart, method: :delete, data: { confirm: 'Are you sure?' }, remote: true, class: "btn btn-default", type: "button"  %>
</div>

