<div class="well">

	<div class="cart_title">Shopping Cart</div> 

    	 <% if (@cart.line_items.empty?) %>
    	<div class="row">
        	<div class="col-xs-12">
				You cart is empty!
	    	</div>
    	</div>
        <% end %>

    	<div class="row">
        	<div class="col-xs-2">
				Image
	    	</div>
	
	    	<div class="col-xs-3">
				Style
	    	</div>

	    	<div class="col-xs-3">
				Color
	    	</div>
	
	    	<div class="col-xs-2">
				Qty
	    	</div>

	    	<div class="col-xs-2">
				Remove
	    	</div>

    	</div>

        <%= render(cart.line_items) %>











<!--
	<table>
	  <% if (@cart.line_items.empty?) %>
	  <tr class="total_line">
	    
	    <td colspan="5">You cart is empty!</td>
	  </tr>
	  <% end %>	
	  
	  <tr>
	    <td>Image</td>
	    <td>Style</td>
	    <td>Color</td>
	    <td>Qty</td>
	    <td></td>
	    <td>Remove</td>
	  </tr>

	  <%= render(cart.line_items) %>

	  <tr class="total_line">
	    
	    <td colspan="3"></td>
	    <td></td>
	    <td class="total_cell"></td>
	  </tr>

	</table>
-->


</div>

<div class="btn-group">
	  <%= link_to 'Checkout', new_order_path, method: :get, class: "btn btn-default", type: "button"  %>
	  <%= link_to 'Empty cart', @cart, method: :delete, data: { confirm: 'Are you sure?' }, remote: true, class: "btn btn-default", type: "button"  %>
</div>

