<%= bootstrap_form_for(@frog, :html => { :class => "form-horizontal" }) do |f| %>

    <%= f.text_field :name %>
    <%= f.text_field :size %>
    <%= f.submit :submit %>
  
<% end %>


<form accept-charset="UTF-8" action="/frogs" class="form-horizontal" id="new_frog" method="post">
	<div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" />
	  <input name="authenticity_token" type="hidden" value="Zp4GmJXUt8t5Lag1LivJSmg4gDVkQBWwjGLQ3rfbE18=" />
    </div>

    <div class="control-group">
    	<label class="control-label" for="frog_name">Name</label><div class="controls"><input id="frog_name" name="frog[name]" type="text" /></div>
    </div>
    <div class="control-group">
    	<label class="control-label" for="frog_size">Size</label><div class="controls"><input id="frog_size" name="frog[size]" type="text" /></div>
    </div>
    <input class="btn btn-primary" name="commit" type="submit" value="submit" />
  
</form>