<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Your Message Subject or Title</title>
	

	<!-- Targeting Windows Mobile -->
	<!--[if IEMobile 7]>
	<style type="text/css">
	
	</style>
	<![endif]-->   

	<!-- ***********************************************
	****************************************************
	END MOBILE TARGETING
	****************************************************
	************************************************ -->

	<!--[if gte mso 9]>
		<style>
		/* Target Outlook 2007 and 2010 */
		</style>
	<![endif]-->
</head>
<body style="font-family: Arial,Helvetica, sans-serif">

<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="backgroundTable">
    <tr>
        <td align="center" valign="top">
            <table border="0" cellpadding="0" cellspacing="0" width="600" id="emailContainer">
                <tr>
                    <td align="center" valign="top">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" id="emailHeader">
                            <tr>
                                <td align="center" valign="top">

                                <p>Thank you for signing up to receve special email only offers, new product updates and design tips from Americo.</p>
                                <div><img class="image_fix" src="http://americo-inc.com/images/americo_inc.gif" style="text-align: center;" alt=""></div>
                                <div style="font-size:11px;">       
                                <p><a href="/categories/1" style="font-size:11px;">Vinyl Table Covers</a>  | 
      							<a href="http://frozen-depths-2742.herokuapp.com/styles/7" style="font-size:11px; color: #666666;">Vinyl Upholstery Fabric</a> |
      							<a href="http://frozen-depths-2742.herokuapp.com/categories/3" style="font-size:11px; color: #666666;">Laminated Fabric</a> |
      							<a href="http://frozen-depths-2742.herokuapp.com/categories/2" style="font-size:11px; color: #666666;">Non-Slip Padding</a> |    
      							<a href="http://frozen-depths-2742.herokuapp.com/categories/5" style="font-size:11px; color: #666666;">Accessories</a> |
      							<a href="http://frozen-depths-2742.herokuapp.com/gallery" style="font-size:11px; color: #666666;">Photo Gallery</a></p></div>
      							</td>
                			</tr>
                		</table>
                    </td>
                </tr>
                
                <tr>
				   <td align="center" valign="top">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" id="emailBody">
                            <tr>
                                <td align="left" valign="top">
		                    	<img src="http://americo-inc.com/email/2014-main.jpg">
		                    	<div id="orange-block" style="background-color: #993300; padding: 10px;" class="">
		                    		<p class="white-title" style="color: #ffffff; font-size: 1.5em;">Premium Vinyls for Table Covers</p>
		                    		<p class="orange-sub" style="color: #ffffff; font-size: 1em;">No one offers more designs, more colors, or better service than we do. That's because we focus on what we do best: Providing custom-made table covers and roll goods quickly and affordably.</p>
		                    	</div>
		                    	<div id="white-block" class="">
		                    		<p class="orange-title" style="color: #993300; font-size: 1.5em;">NEED INSPIRATION?</p>
		                    		<p class="white-sub" style="color: #666666; font-size: 1em;">Our Photo Gallery is filled with design ideas and practical solutions for any decorating style for any establishment.</p>
		                    	</div>	
		                 		</td>
                			</tr>
                		</table>
                    </td>
                </tr>
                
                <tr>
				   <td align="left" valign="top">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" id="emailGallery">	
							<tr>
			                    <td width="142" height="176" align="center" valign="top"><img class="image_fix" src="http://americo-inc.com/email/2014-gallery1.jpg"></td>
			                    <td width="10" align="center" valign="top"></td>
			                    <td width="142" height="176" align="center" valign="top"><img class="image_fix" src="http://americo-inc.com/email/2014-gallery2.jpg"></td>
			                    <td width="10" align="center" valign="top"></td>
			                    <td width="142" height="176" align="center" valign="top"><img class="image_fix" src="http://americo-inc.com/email/2014-gallery3.jpg"></td>
			                    <td width="10" align="center" valign="top"></td>
			                    <td width="142" height="176" align="center" valign="top"><img class="image_fix" src="http://americo-inc.com/email/2014-gallery4.jpg"></td>
			                </tr>
		                
                		</table>   	
                    </td>
                </tr>
     
                <tr>
                	<td align="left" valign="top">
                        <table border="0" cellpadding="18" cellspacing="0" width="100%" id="emailGallery">	
							<tr>
			    
                			    <td align="left" valign="middle"><a href="http://americo-inc.com/gallery" style="color:#993300;"><b>View Photo Gallery</b></a></td>
                			</tr>
		                
                		</table>   	
                    </td>    
                </tr>


   				  <tr>
                	<td align="left" valign="top">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" id="emailFree">	
			   				<tr style="background-color: #993300; color: #ffffff;" height="30">
			                    <td align="center" valign="middle"><a href="http://americo-inc.com" style="color: #FFFFFF;">FREE Samples</a></td>
			                    <td align="center" valign="middle"><a href="http://americo-inc.com/request_catalog" style="color: #FFFFFF;">FREE Catalog</a></td>	
			                    <td align="center" valign="middle"><a href="http://americo-inc.com/request_quote" style="color: #FFFFFF;">FREE Quotes</a></td>
			                </tr>

                		</table>   	
                    </td>    
                </tr>


   			    <tr>
                	<td align="center" valign="top">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" id="emailFooter" style="font-size:13px;">	
			   				<tr>
			   					<td height="15">&nbsp;</td>
			   				</tr>	
			   				<tr>
			                    <td align="center" valign="middle"><a href="http://americo-inc.com" style="color: #000000; text-decoration: underline;">Forward</a> 
			                    | 
			                    <a href="http://americo-inc.com/contact" style="color: #000000; text-decoration: underline;">Contact Us</a>
			                    |
			                    <a href="http://americo-inc.com/privacy_policy" style="color: #000000; text-decoration: underline;">Privacy Policy</a> 
			                    | 
			                    <a href="http://americo-inc.com/" style="color: #000000; text-decoration: underline;">Unsubscribe</a></td>

			                </tr>
                            <tr>
                            	<td align="center">&copy;2014 Americo Inc. | 601 East Barton | West Memphis, AR 72301</td>
                            </tr>
                            <tr>
                            	<td align="center">Contact Us by Phone:  <span class="mobile_link">1.800.626.2350</span></td>
                            </tr>
                		</table>   	
                    </td>    
                </tr>



            </table>
        </td>
    </tr>
</table>




		<!-- Gmail/Hotmail image display fix -->
		<img class="image_fix" src="full path to image" alt="Your alt text" title="Your title text" width="x" height="x">


<!-- End of wrapper table -->
</body>
</html>