	<hr>
	<% if item == @current_quote_item %>
      <div class="row" id="current_quote_item">
    <% else %>
      <div class="row">
    <% end %> 
        	<div class="col-xs-2 col-md-1">
				<%= item.itemable_id %>
	    	</div>
	
	    	<div class="col-xs-6 col-md-4">
			<%= if item.itemable_type == 'americlear'
			      kind = 'AmeriClear Lamination'
                elsif item.itemable_type == 'laminatecut' 
                  kind =  'Laminate Custom Cut' 
                elsif item.itemable_type == 'laminateroll' 
                  kind = 'Laminate Roll Goods' 
                elsif item.itemable_type == 'laminate' 
                  kind = 'Laminate Table Cover' 
                elsif item.itemable_type == 'nonslipcuts' 
                  kind = 'Non-Slip Pad Custom Cut' 
                elsif item.itemable_type == 'nonslippad' 
                  kind = 'Non-Slip Pad Roll Goods' 
                elsif item.itemable_type == 'uphlsterycut' 
                  kind = 'Upholstery Custom Cut' 
                elsif item.itemable_type == 'upholsteryroll' 
                  kind = 'Upholstery Roll Goods' 
                elsif item.itemable_type == 'value' 
                  kind = 'Value Vinyl Table Cover' 
                elsif item.itemable_type == 'vinyl'
			      kind = 'Vinyl Table Cover' 
                elsif item.itemable_type == 'vinylcut' 
                  kind = 'Vinyl Custom Cut' 
                elsif item.itemable_type == 'vinylroll' 
                  kind = 'Vinyl Roll Goods' 
              end %>
			  <%=
			  # item.itemable_type
			   %>
	    	</div>
	    	<div class="col-xs-2 col-md-1">
				Remove
	    	</div>
	    	<div class="col-xs-2 col-md-1">
				Edit
	    	</div>
     </div>
     <hr>