<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @mandril_tag.title %>
</p>

<%= link_to 'Edit', edit_admin_mandril_tag_path(@mandril_tag) %> |
<%= link_to 'Back', admin_mandril_tags_path %>
