// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

.invoicethumb {
	max-width: 100px;
}

.purr {
position: fixed;
top:10%;
left: 40%;
width: 300px;
padding: 20px 15px 20px 15px;
background-color: rgba(155,0,0,0.7);
border-radius: 5px;
z-index: 9999;
font-size: 26px;
font-weight: bold;
color: white;
&:first-letter { text-transform: uppercase; }
}

.recalculatebtn {
	text-align: right;
}