/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.git
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 

 */
 

/* BEGIN SIDE */


.depot_form {
  fieldset {
    background: #eee;
    
    legend {
      color: #fff;
      background: #9d261d;
      font-family: sans-serif;
      padding: 0.2em 1em;
    }
  }
  form {
    label {
      width: 5em;
      float: left;
      text-align: right;
      padding-top: 0.2em;
      margin-right: 0.1em;
      display: block;
    }
    select, textarea, input {
      margin-left: 0.5em;
    }
    .submit {
      margin-left: 4em;
    }
    br {
      display: none
    }
  }
}

$grid-float-breakpoint: 992px;


@import "bootstrap";
@import "carts";
@import "quotecarts";

@import "store";
@import "custom";
@import "nivo-slider";
@import "nivo-theme";