

/* universal */
$grayLight: #666;
$red: #BF2C37;





html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  overflow-x: hidden;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
  	margin-bottom: 10px;
  }
}

.affix-top {
  top:41px;
    position:fixed;
}
/* navbar
.navbar {
    border: 0px;
    margin-bottom: 0px;
    border-radius: 0px;
}

.navbar-default {
    background-color: #FFFFFF;
}
.navbar-inner {
    background-color: transparent;
    border: 0px;
    border-radius: 0px;
    background-image: linear-gradient(to bottom, #FFFFFF, #FFFFFF);
    background-repeat: repeat-x;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0);
    padding-left: 10px;
    padding-right: 10px;
}


.navbar .nav > li > a {
    color: #666666;
    float: none;
    padding: 6px 4px;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
}
.navbar .divider-vertical {
    border-left: 1px solid #666666;
    border-right: 1px solid #FFFFFF;
    height: 12px;
    margin: 10px 9px 0px 9px;
}
 */

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1em;
  margin-top: 0px;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 18px;
  text-align: center;
  font-weight: bold;
  
}
h3 {
  font-size: 1.8em;
  margin-bottom: 0.3em;
  font-weight: bold;
  line-height:1.3em;
}

a {
  color: #BF2C37;
  text-decoration: none; }
  a:hover, a:focus {
    color: #8C2028;
    text-decoration: underline; }
  a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }




/* header */
#siteheader {
  padding: 15px 0px 15px 0px;
  margin-bottom:14px;
  background-color: #EFEFEF;
  ul {
    list-style-type: none;
    padding: 0;
  }
} 
.border-right {
  border-right: solid 1px #bcbcbc;
}
.border-left {
  border-left: solid 1px #bcbcbc;
}
.add-bottom {
  padding-bottom:20px;
  border-bottom: solid 1px #bcbcbc;
  margin-bottom:20px;
}
.top-link {
  color: #666;
  text-decoration: none;
}




/* Customize the nav-justified links to be fill the entire space of the .navbar */
/*
.nav-justified {
  background-color: transparent;
  
}
*/

.nav-justified > li > a {
  padding: 6px 4px 6px 4px;
  color: #666;
  text-align: center;
  text-shadow: 0 1px 0 #FFFFFF;

}


.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {
  background-color: #ddd;
  background-image: none;
  box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
}

@media (min-width: 768px) {
  .nav-justified {
    max-height: 52px;
  }
  .nav-justified > li > a {
    border-left: 1px solid #fff;
    border-right: 1px solid #d5d5d5;
  }
  
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
}










/*
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

#logo:hover {
  color: #fff;
  text-decoration: none;
} 
*/





/* footer */
.footer {
  background-color: #EFEFEF;
  padding: 20px 0px 20px 0px;
}
footer {
  margin-top: 10px;
  
  color: $grayLight;
  a {
    color: #666;
    &:hover {
      color: #333;
    }
  }
  small {
    float: left;
  }
  ul {
    padding-top: 10px;
    list-style: none;
    li {
      
      margin-left: 10px;
    }
  }
}

.dark {
  color:black;
}

#side {
    padding: 1em 2em;
    background: $red;
  
    input {
      font-size: small;
    }

    #cart {
      font-size: smaller;
      color:     white;

      table {
        border-top:    1px solid #fff;
        border-bottom: 1px solid #fff;
        margin-bottom: 10px;
      }
    }
    ul {
      padding: 0;

      li {
        list-style: none;

        a {
          color: #fff;
          font-size: small;
          &:hover {
            color: $red;
          }
        }
      }
    }
  }
 /* END SIDE */


/* home page only*/

.splashtext {
  font-size:1.2em;
  line-height: 1.2em;
}

#home-made-usa {
  border-left: solid 1px #bcbcbc;
  p {

  }  
}

#made-usa {
  margin-top:0px;
}

#home-inspire {
  margin-top: 18px;
  padding-top: 18px;

  border-top: solid 1px #bcbcbc;
  
}



#connect {
  border-top: solid 1px #bcbcbc;
  margin-top: 18px;
  padding-top: 18px;
  margin-bottom: 10px;
  padding-bottom: 2px;
  border-bottom: solid 1px #bcbcbc; 
  vertical_align:middle;
  .top5 {
    margin-top:5px; 
  }
}

/* end home page only*/




 /* set a max-width for horizontal fluid layout and make it centered */
.container {
  margin-right: auto;
  margin-left: auto;
  /* max-width: 1024px;*/
}



 /* Custom button style for bootstrap */
.btn-custom { 
  background-color: hsl(0, 69%, 22%) !important;
  background-repeat: repeat-x; 
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b42121", endColorstr="#5e1111"); background-image: -khtml-gradient(linear, left top, left bottom, from(#b42121), to(#5e1111)); background-image: -moz-linear-gradient(top, #b42121, #5e1111); 
  background-image: -ms-linear-gradient(top, #b42121, #5e1111); 
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b42121), color-stop(100%, #5e1111)); 
  background-image: -webkit-linear-gradient(top, #b42121, #5e1111); background-image: -o-linear-gradient(top, #b42121, #5e1111); 
  background-image: linear-gradient(#b42121, #5e1111); border-color: #5e1111 #5e1111 hsl(0, 69%, 17%); color: #fff !important; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33); -webkit-font-smoothing: antialiased; 
}


.underline {
  text-decoration: underline;
}
.addgreen {
  color: #5E6923;
}
.addgray {
  color: #757575;
}
.addblack {
  color: #000;
}
.addgold {
  /* color: #956127; */
  color: #8c5c37;
}
.addbrown {
 color: #996633; 
}

.stylename {
  font-size: 20px;
}
.styletype {
  font-size: 38px;
  line-height: 38px; 
  letter-spacing:-1px
}
.weighty {
  font-weight: 600;
  
}
.stylesub {
  font-size: 22px;
}
.styletext {
  font-size: 16px;
  color: #757575;
}
#styleinfobox {
  margin-bottom: 18px;
  padding-bottom: 18px;
  border-bottom: solid 1px #bcbcbc;
}
.no-under {
  text-decoration: none !important;
}
.imgbottompad {
  padding-bottom:12px;
}

.shadow:hover {
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}  


.hl {
  color: $red;
}
.footer-border {
  border-right: solid 1px #BCBCBC;
}
.no-left-pad {
  padding-left: 0px;
}
.innerpad {
  padding: 10px;
}

/* To be erased */
.top200 {
  margin-top: 200px;
}
.top25 {
  margin-top: 25px;
}
.bottom25 {
  margin-bottom: 25px;
}
.pullinleft10 {
  margin-left: -8px;
}
p .up10 {
  margin-top: -10px;
}
.top10 {
  margin-top: 10px;
}
.callout {
  letter-spacing: 0.2em;
  font-size: 2.2em;
  color: #ba9e88;
}
.upcallout {
  letter-spacing: 0.1em;
  font-size: 1.8em;
  color: #ba9e88;
}
#upholimage {
  text-align: right; 
}
.seriesname {
  font-size: 2.4em;
}
.twoem {
  font-size: 2.0em;
}
.styledesc {
  font-size: 1.5em; 
}
.seriessub {
  line-height: 1.0em; 
  font-size: 1.2em;  
}

.serieslead {
  font-size: 2.2em;
}
.seriesdesc {
  margin-bottom: 25px;
}


.noforget {
  padding-top: 95px;
  color: #AD5224;
  font-size:1.6em;

}
.distinctions {
  font-weight: bold;

}
.suitable-uphol {
  font-weight: bold;  
}
.not-uphol {
  font-weight: bold;
  
}

#freeswatches {
  max-height:200px;
}
#freecatalog {
 max-height:200px; 
}

/* Keep at bottom, this sets the padding for the fixed header top */

@media (min-width: 980px) {
  body {
    padding-top: 30px;
    padding-bottom: 42px;
  }
}
.sideseries {
  padding:5px 8px 0px 18px;
  font-size: 1.0em;
}
body .galleria-thumbnails-container {
    display: block ! important;
}