<footer class="footer">
  <div class="row">
    <div class="col-sm-3 col-lg-3">
      <ul>
        <li>OUR PRODUCTS</li>
        <li>Vinyl Table Covers</li>
        <li>Laminated Fabric</li>
        <li>Upholstery Fabrics</li>
        <li>Roll Goods</li>
        <li>No_Slip Padding</li>
        <li>Placemats</li>
        <li>Overlays</li>
    </div>
    <div class="col-sm-3 col-lg-3">
      <ul>
        <li>WAYS TO BUY</li>
        <li>Request Swatches</li>
        <li>Request A Quote</li>
        <li>Place An Order</li>
        <li>e-Catalog</li>
        <li>Measuring Instructions</li>
        <li>Laminate or Vinyl</li>
        <li>How to Order</li>
      </ul>
    </div>
    <div class="col-sm-3 col-lg-3">
      <ul>
        <li>LET US HELP YOU</li>
        <li>Customer Service</li>
        <li>Contact Us</li>
        <li>Request A Catalog</li>
        <li>Free Samples</li>
        <li>Shipping + Delivery</li>
        <li>Order Information</li>
      </ul>
    </div>
    <div class="col-sm-3 col-lg-3">
      <ul>
        <li>ABOUT AMERICO</li>
        <li><%= link_to "About Us",   about_path %></li>
        <li>Satisfied Customers</li>
        <li>Site Map</li>
        <li>Safety and Technical Specs</li>
        <li>Cleaning Instructions</li>
        <li>Privacy Policy</li>
      </ul>
    </div>
   
  </div>
  <div class="row">
    <div class="col-sm-12 col-lg-12">
      Hours of Operation: 7:30 - :00 CST Monday - Friday<br />
      Call Toll Free: 800-626-2350 | 870-735-4848 | Fax: 870-735-4129<br />
      601 East Barton, West Memphis, AR 72301 |  &copy; 2014 Americo Inc. All rights Reserved. 

    </div>
  </div>
  <small>
    <a href="http://americo-inc.com">Americo</a>
    by Dustin Schaerer Consulting
  </small>
  
</footer>