<footer class="footer">
  <small>
    <a href="http://americo-inc.com">Americo</a>
    by Dustin Schaerer Consulting
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://americo-inc.com/">Old Site</a></li>
    </ul>
  </nav>
</footer>